body {
  background-image: url("../images/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  margin: 4rem 5%;
  display: flex;
  gap: 2.5rem;
}

h2 {
  font-size: 2.25rem;
  margin-bottom: 0.75rem;
}

p {
  font-size: 1.5rem;
  text-align: justify;
  margin: 0 0 1.25rem 0;
}
#nuestro-equipo {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nuestro-equipo img {
  border-radius: 12px;
}
