* {
  margin: 0px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  background-image: url("../images/5393627.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: #001c3c !important;
}

/*html {
  min-height: 100%;
  position: relative;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    95deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 28, 60, 1) 35%,
    rgba(200, 62, 71, 1) 100%
  );
}*/

.active {
  color: #1881f2 !important;
}

footer,
main,
header {
  margin: 0 3rem;
}

header nav ul li a {
  font-weight: 600 !important;
}

.banner-section__title {
  color: #c83e47;
  font-weight: bold;
}

.banner-section__subtitle {
  color: #001c3c;
  font-weight: bold;
}

.service-section {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
}

.service-section__service-element {
  display: flex;
  font-size: 1.25rem;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}

.service-section__service-element img {
  border-radius: 12px;
}

.testimonials-section {
  background-color: #d9d9d9;
}

#nuestro-equipo {
  margin-top: 4rem;
}

footer span {
  color: aliceblue;
  background-color: #001c3c;
  padding: 12px;
  line-height: 24px;
  margin-right: 12px;
  border-radius: 12px;
}

@media (min-width: 1440px) {
  header nav {
    margin: 0 auto;
    padding-top: 4.5rem !important;
    width: 69rem;
  }
  header nav a {
    font-size: 3rem !important;
  }
  header nav ul li a {
    font-size: 1.125rem !important;
  }
  main {
    width: 69rem;
    margin: 0 auto;
  }
  .banner-section__title {
    font-size: 2.5rem;
    line-height: 2.875rem;
  }

  .banner-section__subtitle {
    font-size: 2rem;
    list-style: 2.375rem;
  }

  .team-section {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }

  /*#nuestro-equipo div {
    align-items: center;
    display: flex;
    flex-direction: row;
  }*/

  #nuestro-equipo img {
    border-radius: 12px;
  }

  footer div {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 1.25rem;
    width: 69rem;
  }
}
